bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/

# Build results
bin/
obj/

# NuGet Packages
*.nupkg
*.snupkg
packages/
!packages/build/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results files
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]ny[Cc]PU/
bld/
[Bb]in/
[Oo]bj/

# MSBuild Binary and Structured Log
*.binlog

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/